.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}

.chords {
  padding: 15px;
  cursor: pointer;
}

.check-chord{
  margin: 3px;
}

.row-checks{
  margin-top: 5px;
}

.checks{
  margin-top: 5px;
}

.check-options{
  cursor: pointer;
}

.order-inputs{
  cursor: pointer;
}

.order-labels{
  cursor: pointer;
  padding: 15px;
}

.input-edit{
  width: 50px;
  margin: 0px 5px 0px 5px;
}

.change-labels{
  cursor: pointer;
  padding: 15px;
}

.change-inputs{
  cursor: pointer;
}

.card-body{
  padding: 0.5rem;
}

.stop-labels{
  cursor: pointer;
  padding: 15px;
}

.stop-inputs{
  cursor: pointer;
}

.buttons{
  margin: 15px 10px 10px 10px;
}

.card-style{
  width: 38rem;
  margin: 5px 0px 5px 0px;
}

.bottom-info{
  margin-bottom: 10px;
}

.card-title{
  margin-bottom: 5px;
}

.flags{
  margin-right: 15px;
  cursor: pointer;
}

.developedBy{
  margin-left: 15px;
}